<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LAZYSHELL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LAZYSHELL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LAZYSHELL.Properties.Settings>
            <setting name="LoadNotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastRomPath" serializeAs="String">
                <value>"C:\\"</value>
            </setting>
            <setting name="VisualThemeSystem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UndoStackSize" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="patchServerURL" serializeAs="String">
                <value>http://home.comcast.net/~giangurgolo/patches/</value>
            </setting>
            <setting name="NotePathCustom" serializeAs="String">
                <value />
            </setting>
            <setting name="LevelNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="ZSNESPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PreviewArguments" serializeAs="String">
                <value>-m -zs 0 -v 2</value>
            </setting>
            <setting name="PreviewFirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreviewDynamicRomName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnverifiedRomWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEncryptionWarnings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastDirectory" serializeAs="String">
                <value>"C:\\"</value>
            </setting>
            <setting name="LoadLastUsedROM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShopNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Mushroom Kingdom</string>
                        <string>Rose Town Items</string>
                        <string>Rose Town Armor</string>
                        <string>Frog Disciple Shop</string>
                        <string>Moleville Shop</string>
                        <string>Marrymore Shop</string>
                        <string>Frog Coin Emporium</string>
                        <string>Sea Item shop</string>
                        <string>Seaside Town Items (pre-Yaridovich)</string>
                        <string>Juice Bar (no card)</string>
                        <string>Juice Bar (alto card)</string>
                        <string>Juice Bar (tenor card)</string>
                        <string>Juice Bar (soprano card)</string>
                        <string>Seaside Weapons</string>
                        <string>Seaside Armor</string>
                        <string>Seaside Accessory</string>
                        <string>Seaside Health Foods</string>
                        <string>Monstro Town shop</string>
                        <string>Nimbus Land shop</string>
                        <string>Hinopio's Shop</string>
                        <string>Baby Goomba shop</string>
                        <string>Nimbus Land Item/Weapon</string>
                        <string>Croco's Shop 1</string>
                        <string>Croco's Shop 2</string>
                        <string>Toad's Shop</string>
                        <string>___DUMMY</string>
                        <string>___DUMMY</string>
                        <string>___DUMMY</string>
                        <string>___DUMMY</string>
                        <string>___DUMMY</string>
                        <string>___DUMMY</string>
                        <string>___DUMMY</string>
                        <string>___DUMMY</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EventLabels" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="ActionLabels" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="Keystrokes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string>!</string>
                        <string>“</string>
                        <string>”</string>
                        <string />
                        <string />
                        <string>‘</string>
                        <string>’</string>
                        <string>(</string>
                        <string>)</string>
                        <string />
                        <string />
                        <string>,</string>
                        <string>-</string>
                        <string>.</string>
                        <string>/</string>
                        <string>0</string>
                        <string>1</string>
                        <string>2</string>
                        <string>3</string>
                        <string>4</string>
                        <string>5</string>
                        <string>6</string>
                        <string>7</string>
                        <string>8</string>
                        <string>9</string>
                        <string>~</string>
                        <string />
                        <string />
                        <string />
                        <string />
                        <string>?</string>
                        <string>@</string>
                        <string>A</string>
                        <string>B</string>
                        <string>C</string>
                        <string>D</string>
                        <string>E</string>
                        <string>F</string>
                        <string>G</string>
                        <string>H</string>
                        <string>I</string>
                        <string>J</string>
                        <string>K</string>
                        <string>L</string>
                        <string>M</string>
                        <string>N</string>
                        <string>O</string>
                        <string>P</string>
                        <string>Q</string>
                        <string>R</string>
                        <string>S</string>
                        <string>T</string>
                        <string>U</string>
                        <string>V</string>
                        <string>W</string>
                        <string>X</string>
                        <string>Y</string>
                        <string>Z</string>
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string>a</string>
                        <string>b</string>
                        <string>c</string>
                        <string>d</string>
                        <string>e</string>
                        <string>f</string>
                        <string>g</string>
                        <string>h</string>
                        <string>i</string>
                        <string>j</string>
                        <string>k</string>
                        <string>l</string>
                        <string>m</string>
                        <string>n</string>
                        <string>o</string>
                        <string>p</string>
                        <string>q</string>
                        <string>r</string>
                        <string>s</string>
                        <string>t</string>
                        <string>u</string>
                        <string>v</string>
                        <string>w</string>
                        <string>x</string>
                        <string>y</string>
                        <string>z</string>
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string>:</string>
                        <string>;</string>
                        <string>&lt;</string>
                        <string>&gt;</string>
                        <string />
                        <string>#</string>
                        <string>+</string>
                        <string>×</string>
                        <string>%</string>
                        <string />
                        <string />
                        <string />
                        <string>*</string>
                        <string>'</string>
                        <string>&amp;</string>
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CreateBackupROM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateBackupROMSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupROMDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="KeystrokesMenu" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string>:</string>
                        <string>,</string>
                        <string />
                        <string>.</string>
                        <string>/</string>
                        <string>0</string>
                        <string>1</string>
                        <string>2</string>
                        <string>3</string>
                        <string>4</string>
                        <string>5</string>
                        <string>6</string>
                        <string>7</string>
                        <string>8</string>
                        <string>9</string>
                        <string>~</string>
                        <string />
                        <string />
                        <string />
                        <string />
                        <string>?</string>
                        <string />
                        <string>A</string>
                        <string>B</string>
                        <string>C</string>
                        <string>D</string>
                        <string>E</string>
                        <string>F</string>
                        <string>G</string>
                        <string>H</string>
                        <string>I</string>
                        <string>J</string>
                        <string>K</string>
                        <string>L</string>
                        <string>M</string>
                        <string>N</string>
                        <string>O</string>
                        <string>P</string>
                        <string>Q</string>
                        <string>R</string>
                        <string>S</string>
                        <string>T</string>
                        <string>U</string>
                        <string>V</string>
                        <string>W</string>
                        <string>X</string>
                        <string>Y</string>
                        <string>Z</string>
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string>a</string>
                        <string>b</string>
                        <string>c</string>
                        <string>d</string>
                        <string>e</string>
                        <string>f</string>
                        <string>g</string>
                        <string>h</string>
                        <string>i</string>
                        <string>j</string>
                        <string>k</string>
                        <string>l</string>
                        <string>m</string>
                        <string>n</string>
                        <string>o</string>
                        <string>p</string>
                        <string>q</string>
                        <string>r</string>
                        <string>s</string>
                        <string>t</string>
                        <string>u</string>
                        <string>v</string>
                        <string>w</string>
                        <string>x</string>
                        <string>y</string>
                        <string>z</string>
                        <string>!</string>
                        <string>#</string>
                        <string>-</string>
                        <string>’</string>
                        <string />
                        <string>:</string>
                        <string>.</string>
                        <string>“</string>
                        <string>”</string>
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string>:</string>
                        <string>;</string>
                        <string>&lt;</string>
                        <string>&gt;</string>
                        <string />
                        <string>#</string>
                        <string>+</string>
                        <string>×</string>
                        <string>%</string>
                        <string />
                        <string />
                        <string />
                        <string>*</string>
                        <string>'</string>
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="KeystrokesDesc" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string>!</string>
                        <string>“</string>
                        <string>”</string>
                        <string />
                        <string />
                        <string>‘</string>
                        <string>’</string>
                        <string>(</string>
                        <string>)</string>
                        <string />
                        <string />
                        <string>,</string>
                        <string>-</string>
                        <string>.</string>
                        <string>/</string>
                        <string>0</string>
                        <string>1</string>
                        <string>2</string>
                        <string>3</string>
                        <string>4</string>
                        <string>5</string>
                        <string>6</string>
                        <string>7</string>
                        <string>8</string>
                        <string>9</string>
                        <string>~</string>
                        <string />
                        <string />
                        <string />
                        <string />
                        <string>?</string>
                        <string />
                        <string>A</string>
                        <string>B</string>
                        <string>C</string>
                        <string>D</string>
                        <string>E</string>
                        <string>F</string>
                        <string>G</string>
                        <string>H</string>
                        <string>I</string>
                        <string>J</string>
                        <string>K</string>
                        <string>L</string>
                        <string>M</string>
                        <string>N</string>
                        <string>O</string>
                        <string>P</string>
                        <string>Q</string>
                        <string>R</string>
                        <string>S</string>
                        <string>T</string>
                        <string>U</string>
                        <string>V</string>
                        <string>W</string>
                        <string>X</string>
                        <string>Y</string>
                        <string>Z</string>
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string>a</string>
                        <string>b</string>
                        <string>c</string>
                        <string>d</string>
                        <string>e</string>
                        <string>f</string>
                        <string>g</string>
                        <string>h</string>
                        <string>i</string>
                        <string>j</string>
                        <string>k</string>
                        <string>l</string>
                        <string>m</string>
                        <string>n</string>
                        <string>o</string>
                        <string>p</string>
                        <string>q</string>
                        <string>r</string>
                        <string>s</string>
                        <string>t</string>
                        <string>u</string>
                        <string>v</string>
                        <string>w</string>
                        <string>x</string>
                        <string>y</string>
                        <string>z</string>
                        <string />
                        <string />
                        <string>-</string>
                        <string>’</string>
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string>&amp;</string>
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LoadAllData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreviewMaxStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreviewAllies" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PreviewBattlefield" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PreviewLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AllyEquipment" serializeAs="String">
                <value>FFFFFFFFFFFFFFFFFFFFFFFFFFFFFF</value>
            </setting>
            <setting name="History" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSprite" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastDialogue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastEventScript" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastEffect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastFormation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastMonster" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastItem" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastAttack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSpell" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastAnimation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastAnimationCat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastEventScriptCat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastBattlefield" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastBattleDialogue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastFormationPack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastAudioSample" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RememberLastIndex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstLoad" serializeAs="String">
                <value>False</value>
            </setting>
        </LAZYSHELL.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <LAZYSHELL.Properties.Settings>
            <setting name="PreviewArgsDefault" serializeAs="String">
                <value>-m -zs 0 -v 2</value>
            </setting>
        </LAZYSHELL.Properties.Settings>
    </applicationSettings>
</configuration>